<div class="task-text">
<%= %>dssddsdsdsdsdsddsds
</div>


<h4>Wskaż jak dalece każda z tych cech opisuje osobę opowiadającą historię - :</h4>

       
<%= render 'question', item: "WSPIERAJĄCY INNYCH" %>
<%= render 'question', item: "ZARADNY" %>
<%= render 'question', item: "AKTYWNY" %>
<%= render 'question', item: "POMOCNY" %>

<%= render 'question', item: "PRZEKONUJĄCY" %>
<%= render 'question', item: "PRZEBOJOWY" %>
<%= render 'question', item: "ROZUMIEJĄCY INNYCH" %>

<%= render 'question', item: "WSPÓŁCZUJĄCY" %>
<%= render 'question', item: "ZDECYDOWANY" %>
<%= render 'question', item: "ŻYCZLIWY" %>
<%= render 'question', item: "PRZEDSIĘBIORCZY" %>
<%= render 'question', item: "WRAŻLIWY NA INNYCH" %>


<h4>Wskaż jak dalece każda z tych cech opisuje osobę - bohatera historii - :</h4>
<%= render 'question', item: "WSPIERAJĄCY INNYCH" %>
<%= render 'question', item: "ZARADNY" %>
<%= render 'question', item: "AKTYWNY" %>
<%= render 'question', item: "POMOCNY" %>

<%= render 'question', item: "PRZEKONUJĄCY" %>
<%= render 'question', item: "PRZEBOJOWY" %>
<%= render 'question', item: "ROZUMIEJĄCY INNYCH" %>

<%= render 'question', item: "WSPÓŁCZUJĄCY" %>
<%= render 'question', item: "ZDECYDOWANY" %>
<%= render 'question', item: "ŻYCZLIWY" %>
<%= render 'question', item: "PRZEDSIĘBIORCZY" %>
<%= render 'question', item: "WRAŻLIWY NA INNYCH" %>

<p>Określ na skali jakie ogólne wrażenie robią na Tobie bohaterowie prezentowanej historii od 1 do 7, gdzie:  1- zdecydowanie negatywne, 2-negatywne, 3 – raczej negatywne, 4 – ani negatywne, ani pozytywne, 5 – raczej pozytywne, 6 – pozytywne, 7- zdecydowanie pozytywne</p>


<%= render 'question', item: "Jakie ogólne wrażenie robi na Tobie osoba opowiadająca historię - ?" %>
<%= render 'question', item: "Jakie ogólne wrażenie robi na Tobie bohater opowiadanej historii - ?" %>



<p>Określ na skali jak chętnie poznałbyś bohatera opowiadanej historii od 1 do 7, gdzie 1 – zdecydowanie nie, 2 – nie, 3 – raczej nie, 4 – trudno powiedzieć, trochę tak, trochę nie, 5 – raczej tak, 6 – tak, 7 – zdecydowanie tak</p>


<%= render 'question', item: "Jak chętnie poznałbyś bohatera tej historii - ?" %>

<a class="text-center">Zrobione!</a>
