<% provide(:title, 'Nasza Ankieta')%>

<section class="col-sm-12 introduction">
	<h3>Zapraszam do udziału w badaniu</h3>
	<p>Badanie, w którym będziesz uczestniczyć polega na zapoznaniu się z poniższymi historiami i ustosunkowaniu się do nich odpowiadając na poszczególne pytania. Swoją odpowiedź zaznacz na skali.</p>
	<p>Udział w badaniu jest całkowicie dobrowolny, a zbierane dane poufne. Proszę pamiętać, że nie ma tu złych, ani dobrych odpowiedzi. Proszę odpowiadać na pytania zgodnie ze swoim punktem widzenia. Czas trwania badania to około 5 minut. Jeśli chciał(a)byś uzyskać więcej informacji na temat tego badania, możesz skontaktować się ze mną drogą mailową: agakomorowska@wp.pl</p>
	<h4>Proszę zdecydować czy zgadzasz się dobrowolnie wziąć udział w badaniu i zaznaczyć swoją odpowiedź poniżej.</h4>
	<button id="accept">Tak, zgadzam się dobrowolnie wziąć udział w badaniu</button>
	<button id="nonono">Nie, rezygnuję</button>
</section>

<section class="col-sm-12 ankieta-inactive instruction">
	<h3>Prosimy o uzupełnianie badania w prezentowanej kolejności:</h3>
	<p>Proszę zapoznaj się z poszczególnymi historiami, a następnie ustosunkuj się do nich odpowiadając na pytania. Odpowiedzi zaznacz na skali. Nie ma tu złych, ani dobrych odpowiedzi, proszę zaznacz tę odpowiedź, która najlepiej odzwierciedla to, jak postrzegasz bohaterów historii. Proszę uzupełnij poniższe skale.  Zaznacz stopień, w jakim poszczególne cechy opisują bohaterów historii w skali od 1 do 7, gdzie:     1 – zdecydowanie nie, 2 – nie, 3 – raczej nie, 4 – trudno powiedzieć, trochę tak, trochę nie, 5 – raczej tak, 6 – tak, 7 – zdecydowanie tak.</p>
	<button id="forward">Rozumiem</button>
</section>


<%= form_tag({controller: "static_pages", action: "save"}, method: "post", class: "oneseven") do %>


	<section class="col-sm-12 ankieta-inactive task">
		<h3>Historia 1</h3>
		<%= render partial: 'task', locals: {task: @task, order: 'first'} %>
	</section>

	<section class="col-sm-12 ankieta-inactive task">
		<h3>Historia 2</h3>
		<%= render partial: 'task', locals: {task: @task, order: 'second'} %>
	</section>

	<section class="col-sm-12 ankieta-inactive task">
		<h3>Historia 3</h3>
		<%= render partial: 'task', locals: {task: @task, order: 'third'} %>
	</section>

	<section class="col-sm-12 ankieta-inactive task">
		<h3>Historia 4</h3>
		<%= render partial: 'task', locals: {task: @task, order: 'fourth'} %>
	</section>

	<section class="col-sm-12 ankieta-inactive confirmation">
		<h3>Pytanie kontrolne:</h3>
		<p>Proszę określ stopień w jakim dokładnie zapoznałeś/łaś się z powyższymi historiami</p>
		<p class="question">
			<span class="text-left red">
				<strong>W OGÓLE ICH NIE CZYTAŁEM/ŁAM</strong>
			</span>            
			<input type='radio' name='test' class='grade1 onesevenscale'></input>
			<input type='radio' name='test' class='grade2 onesevenscale'></input>
			<input type='radio' name='test' class='grade3 onesevenscale'></input>
			<input type='radio' name='test' class='grade4 onesevenscale'></input>
			<input type='radio' name='test' class='grade5 onesevenscale'></input>
			<input type='radio' name='test' class='grade6 onesevenscale'></input>
			<input type='radio' name='test' class='grade7 onesevenscale'></input>
			<span class="text-right green">
				<strong>CZYTAŁEM/ŁAM JE DOKŁADNIE</strong>
			</span>
		</span>
	</p>

	<p>Proszę o podanie poniższych danych</p>


Wiek          <%= number_field(:person, :age, in: 1..99, step: 1) %>

Płeć

<%= radio_button_tag(:sex, true) %>
<%= label_tag(:sex_man, "Mężczyzna") %>
<%= radio_button_tag(:sex, false) %>
<%= label_tag(:sex_woman, "Kobieta") %>


Wykształcenie
□ podstawowe
□ średnie
□ wyższe

Narodowość                  ……………………………………..
	<button id="submit">Dalej!</button>
	</section>
<% end %>
